
<%- include('../partials/_head'); %>


<%- include('../partials/_header'); %>



<div class="container">

            <% if(recipes.length<1){%>
            <p class="recipe-text">No posts yet, create a new one</p>
            <%  } %>

            <h2 class="text-center">All Recipes</h2>

            <% recipes.forEach(recipe=>{ %>
            <div class="box-size"> 
                        <img src="/uploads/images/<%= recipe.image %>"  alt="<%= recipe.rec_title %>" class="image-size">
                    
                        <div class="d-flex">
                            <h4><b class="rec-gradient"><%= recipe.rec_title %></b></h4>
                            <!-- display more button -->
            
                                    <form method="POST" action="/recipes/<%=recipe._id%>?_method=DELETE" class="form-group" id="view_recipe">
                                    <a href="/update-recipe?id=<%= recipe._id %>" class="btn order-shadow update">
                                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                    </a>
                                    
                                    <button class="btn border-shadow delete" id="delete_recipe" type="submit">
                                        <span class="text-gradient"><i class="fas fa-times"></i></span>
                                    </button>
                                    </form>
  
                                
                        </div>
                        <div>
                            <div>
                                <h6><span class="rec-gradient"><b><%= recipe.author %></b></span></h5>
                                    <p class="rec-gradient"><%= recipe.timeCreated %> %></p>   
                            </div>
            
                        </div>
                        <p> <%= recipe.description %>
                    
            </div>
            <% }) %>

            <%- include('../partials/_footer');  %> 

        
    
</div>